<hr>
<section id="contact">
  <h2>Kontakt</h2>
  <div>
    <p> Jeśli czujesz, że mogę Cię wesprzeć w Twojej drodze, zapraszam do kontaktu. Chętnie odpowiem
        na pytania i wspólnie sprawdzimy, czy psychoterapia Gestalt będzie dla Ciebie odpowiednią
        formą pomocy.</p>
    <p>Prowadzę gabinet psychoterapii Gestalt we Wrocławiu oraz oferuję możliwość spotkań
       online.</p>
  </div>

  <div>
    <p>Gabinet psychoterapii Gestalt – Wrocław Adres: ul. Racławicka 32 Wrocław</p>
    <p>Google Maps here...</p>
  </div>

  <p>Pracuję stacjonarnie we Wrocławiu oraz online — w zależności od Twoich potrzeb i
     możliwości.</p>

  <div>
    <h3>Forma pracy Oferuję psychoterapię Gestalt:</h3>
    <ul>
      <li>dla osób dorosłych</li>
      <li>par</li>
      <li>młodzieży od 16 roku życia
        <button type="button" aria-label="Pobież formularz zgody na terapię dla młodzieży">
          Formularz zgody na terapię
        </button>
      </li>
    </ul>
  </div>

  <div>
    <h3>Sesje mogą odbywać się:</h3>
    <ul>
      <li>stacjonarnie w gabinecie we Wrocławiu</li>
      <li>online</li>
    </ul>
  </div>

  <div>
    <h3>Kontakt</h3>
    <ul>
      <li>E-mail: iv.palka&#64;gmail.com</li>
      <li>Telefon: 793 290 057</li>
    </ul>
  </div>

  <p>Jeśli nie odbieram telefonu, wyślij SMS lub napisz e-mail — odezwę się w najbliższym możliwym
     czasie.</p>

  <div>
    <h3>Zapraszam do kontaktu, jeśli:</h3>
    <ul>
      <li>przeżywasz trudny moment w swoim życiu</li>
      <li>szukasz bezpiecznej i empatycznej przestrzeni do rozmowy</li>
      <li>Tchcesz lepiej zrozumieć siebie, swoje emocje i relacje.</li>
    </ul>
  </div>

  <div>
    <h3>Ile kosztuje sesja terapeutyczna?</h3>

    <h4>Cennik</h4>
    <ul>
      <li>sesja indywidualna 200 zł / 50 min</li>
      <li>sesja dla par 300 zł / 60 min</li>
    </ul>

    <h4>Płatność</h4>
    <ul>
      <li>gotówka</li>
      <li>blik</li>
    </ul>
  </div>
</section>
<hr>
