.custom-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  overflow: hidden;
  width: calc((100% - (20px * 2)) / 3);
  max-width: 320px;
  min-width: 300px;
  aspect-ratio: 1 / 1;

  background: var(--white);
  border-radius: 2.7vw;
  padding: 2vw;
  box-sizing: border-box;

  box-shadow: 2px 5px 9px #7b5e5c0f;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
  box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-6px);
}

.custom-card:nth-child(odd) {
  background: var(--yellow);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  justify-content: center;
  align-items: center;
}

/* Tablets / Small Laptops */
@media (min-width: 768px) {
  .card-container {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
