<nav aria-label="Nawigacja" class="container">
  <div class="nav__menu">

    <div class="nav-section left">
      <app-button type="button"
                  aria-label="Przejdź do sekcji Terapia Gestalt"
                  buttonClass="btn action-button"
                  (buttonAction)="goToAboutGestalt()">
        Terapia Gestalt
      </app-button>
    </div>

    <div class="nav-section center">
      <a href="/home" aria-label="Przejdź do strony głównej" class="logo">
        <img
          [ngSrc]="'assets/images/placeholder-mobile.png'"
          width="48"
          height="48"
          priority
          alt="Black Sheep logo image">
        Black Sheep
      </a>
    </div>

    <div class="nav-section right">
      <app-button type="button"
                  aria-label="Przejdź do Kontaktu"
                  buttonClass="btn action-button"
                  (buttonAction)="goToContact()">
        Kontakt
      </app-button>
    </div>

    <!-- Burger -->
    <div class="nav-section nav__burger">
      <button
        type="button"
        [aria-label]="isSidenavOpen() ? 'Zamknij menu' : 'Otwórz menu'"
        class="header-burger-btn burger"
        [class.active]="isSidenavOpen()"
        (click)="toggleSidenav()">
        <div class="burger-box">
          <div class="burger-inner">
            <div class="top-bun"></div>
            <div class="bottom-bun"></div>
          </div>
        </div>
      </button>
    </div>

  </div>
</nav>
