<nav aria-label="Nawigacja" class="container">
  <ul class="nav__menu">
    <div class="nav__menu-left">
      <li><a href="/#about-gestalt" aria-label="Przejdź do sekcji Terapia Gestalt">
        Terapia Gestalt</a>
      </li>
      <li><a href="/#about-me" aria-label="Przejdź do sekcji O mnie">O mnie</a></li>
    </div>
    <div class="nav__menu-center">
      <li><a href="/home" aria-label="Przejdź do strony głównej">
        <img
          [ngSrc]="'assets/images/placeholder-mobile.png'"
          width="48"
          height="48"
          priority
          alt="Black Sheep logo image">
        Black Sheep
      </a></li>
    </div>
    <div class="nav__menu-right">
      <li><a href="/#contact" aria-label="Przejdź do Kontaktu">Kontakt</a></li>
    </div>
  </ul>
</nav>
