.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

.noise {
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: color-burn;
  will-change: opacity;
  backface-visibility: hidden;
  background-image: url(../../../../assets/images/bg_noise.webp);
  background-position: 50%;
  background-size: cover;
  position: fixed;
  inset: 0;
}
