:host {
  padding: 80px 60px;

  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 48px 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.block-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
