<div class="container hero">
  <div class="hero-content">
    <div class="hero-header">
      <div>Nazywam się Iwona Palka</div>
      <div>i jestem certyfikowaną</div>
      <div>psychoterapeutką Gestalt</div>
    </div>

    <div class="hero-subtitle">
      <p>Pracuję we Wrocławiu z osobami dorosłymi, parami</p>
      <p>oraz młodzieżą od 16. roku życia</p>
      <div class="actions-wrapper">
        <app-button type="button"
                    buttonClass="btn action-button"
                    (buttonAction)="goToContact()">
          Skontaktuj się
        </app-button>
        <app-button type="button"
                    buttonClass="btn secondary-button"
                    (buttonAction)="goToAboutGestalt()">
          Więcej o Gestalt
        </app-button>
      </div>
    </div>
  </div>

  <div class="hero-img wrap-center">
    <img
      [ngSrc]="'/assets/images/profile-arc.png'"
      width="600"
      height="640"
      priority
      alt="Hero image">
  </div>

  <div class="deco-01">
    <img src="/assets/images/deco-01.png" alt="decoration image">
  </div>
</div>

<div class="colors">
  <p class="color-text"><span class="indigo-violet">Wybierz</span><span
    class="dark-blue"> kolory,</span> które lubisz =)</p>
  <div class="colors-example">
    <div class="item color-1">1</div>
    <div class="item color-2">2</div>
    <div class="item color-3">3</div>
    <div class="item color-4">4</div>
    <div class="item color-5">5</div>
    <div class="item color-6">6</div>
    <div class="item color-7">7</div>
    <div class="item color-8">8</div>
    <div class="item color-9">9</div>
  </div>
</div>


