<div class="container hero">
  <div class="hero-img wrap-center">
    <img
      [ngSrc]="'assets/images/placeholder-tablet.png'"
      width="600"
      height="640"
      priority
      alt="Hero image">
  </div>

  <div class="hero-content">
    <div class="hero-header">
      <span>{{ hero.title }}</span>
    </div>

    <div class="hero-footer">
      <p>{{ hero.subtitle }}</p>
      <div class="actions-wrapper">
        <app-button type="button"
                    buttonClass="btn action-button"
                    (buttonAction)="goToContact()">
          Skontaktuj się
        </app-button>
        <app-button type="button"
                    buttonClass="btn secondary-button"
                    (buttonAction)="goToTherapy()">
          Więcej o Gestalt
        </app-button>
      </div>
    </div>
  </div>
</div>


