<div class="container hero">

  <div class="hero-content">
    <div class="hero-header">
      <span>{{ hero.title }}</span>
    </div>

    <div class="hero-footer">
      <p>{{ hero.subtitle }}</p>
      <div class="actions-wrapper">
        <app-button type="button"
                    buttonClass="btn action-button"
                    (buttonAction)="goToContact()">
          Skontaktuj się
        </app-button>
        <app-button type="button"
                    buttonClass="btn secondary-button"
                    (buttonAction)="goToAboutGestalt()">
          Więcej o Gestalt
        </app-button>
      </div>
    </div>
  </div>

  <div class="hero-img wrap-center">
    <img
      [ngSrc]="'/assets/images/profile-arc.png'"
      width="600"
      height="640"
      priority
      alt="Hero image">
  </div>
</div>

<div class="colors">
  <h3>Wybierz kolory, które lubisz =)</h3>
  <div class="colors-example">
    <div class="item color-1">1</div>
    <div class="item color-2">2</div>
    <div class="item color-3">3</div>
    <div class="item color-4">4</div>
    <div class="item color-5">5</div>
    <div class="item color-6">6</div>
    <div class="item color-7">7</div>
  </div>
</div>


