:host {
  margin-top: clamp(1.25rem, -0.11rem + 6.82vw, 5rem);
  padding: clamp(3rem, 2.27rem + 3.64vw, 5rem) clamp(1rem, 0.45rem + 2.73vw, 2.5rem);
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-md);
  text-align: center;
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrap-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-md);
}

.hero-header {
  font-size: clamp(1rem, 0.82rem + 0.91vw, 1.5rem);
  font-weight: 700;
}

/* Mobile devices - Covered by default CSS layout rules */

/* Tablets / Small Laptops */
@media (min-width: 768px) {
}

/* Standard Desktops */
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    padding: 20px 0;

    & > * {
      flex: 1;
    }
  }

  .actions-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}

/* Large Desktop Displays */
@media (min-width: 1440px) {
}
